@import "../../scss/_breakpoints";
@import "../../scss/mixins/blocks.scss";
@import "../../scss/mixins/flexbox.scss";

.button-round {
  $block-name: &; // #{$block-name}__element

  @include flex-center;
  @include box(40px);

  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition);

  &--green {
    background-color: var(--primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--hard-primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
    }

    &:disabled {
      background-color: var(--gray-50);

      #{$block-name}__icon {
        color: var(--gray-900);
      }
    }
    #{$block-name}__icon {
      color: var(--front-primary-inversed);
    }
  }

  &--white-green {
    background-color: var(--back-primary);
    box-shadow: 0 0 8px 0 var(--gray-200);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
    }
    #{$block-name}__icon {
      color: var(--gray-900);
    }
  }

  &--like {
    box-shadow: 0 0 8px 0 var(--gray-200);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);
        box-shadow: none;
        box-shadow: 0 0 8px 0 var(--gray-200);

        #{$block-name}__icon {
          stroke: var(--front-primary-inversed);
        }
      }
    }

    #{$block-name}__icon {
      stroke-width: 1.5px;
      fill: none;
      stroke: var(--gray-900);
    }

    &:active,
    &.active {
      #{$block-name}__icon {
        fill: var(--primary);
        stroke: var(--primary);
      }
    }
  }

  &--ghost {
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
      #{$block-name}__icon {
        color: var(--gray-700);
      }
    }
  }

  &__icon {
    @include box(20px);

    transition: all var(--transition);
  }
}
