@import "../../scss/_breakpoints";
@import "../../scss/mixins/box.scss";
@import "../../scss/mixins/flexbox.scss";

.button-round {
  $block-name: &; // #{$block-name}__element

  @include flex-center;
  @include box(40px);

  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color var(--transition);

  &--green {
    background-color: var(--primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--hard-primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
    }

    &:disabled {
      background-color: var(--monochrome-50);

      #{$block-name}__icon {
        color: var(--monochrome-900);
      }
    }
    #{$block-name}__icon {
      color: var(--front-primary-inversed);
    }
  }

  &--white-green {
    background-color: var(--back-primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
    }
    #{$block-name}__icon {
      color: var(--monochrome-900);
    }
  }

  &--like {
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
    }
  }

  &--ghost {
    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__icon {
          color: var(--front-primary-inversed);
        }
      }
      #{$block-name}__icon {
        color: var(--monochrome-700);
      }
    }
  }

  &__icon {
    @include box(20px);

    transition: color var(--transition);
  }
}
