//- Все примеси в этом файле должны начинаться c имени блока (radio)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin radio(label,  name, id, amount,  mods)

  //- Принимает:
  //-   label      {string} - Текст лейбла для радио-баттона
  //-   mods       {string} - список модификаторов
  //-   name       {string} - атрибут name
  //-   id         {string} - атрибут id
  //- Вызов:
        +radio(category.title, category.value, category.value, category.amount, "")

  -
    //- список модификаторов
    var allMods = "";
    if(typeof(mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " radio--" + modsList[i].trim();
      }
    }

  label.radio(class= mods)&attributes(attributes)
    input.radio__input(id= id, type= "radio", name= name)
    span.radio__fake-input
    if label
      span.radio__label!= label
    if amount
      span.radio__amount= "(" + amount + ")"
