@import "../../scss/breakpoints";
@import "../../scss/mixins/blocks.scss";
@import "../../scss/mixins/flexbox.scss";

.close-button {
  $block-name: &; // #{$block-name}__element

  @include flex-center;
  @include box(22px);

  border: 1px solid var(--gray-200);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      border-color: var(--gray-900);

      #{$block-name}__icon {
        color: var(--green-gray-900);
      }
    }
  }

  &__icon {
    @include box(16px);

    color: var(--green-gray-600);
  }
  $block-name: &; // #{$block-name}__element
}
