//- Все примеси в этом файле должны начинаться c имени блока (product-small)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin product-small(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-small( {
        "img": "product-small-mango.jpg",
        "title": "Surjapur Mango",
        "price": "$14.99",
        "priceOld": "",
        "rating": 4,
        "tags": null
      }, "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " product-small--" + modsList[i].trim();
      }
    }

  .product-small(class=allMods)&attributes(attributes)
    a.product-small__image-link(href="#")
      img.product-small__image(src= path.img + data.img, alt="product-small")
    .product-small__description
      a.product-small__link(href= data.link)
        h3.product-small__title= data.title
      .product-small__description-container
        .product-small__description-main
          p.product-small__price
            span= data.price
            if data.priceOld
              span.product-small__price--old= data.priceOld
          .product-small__rating
            +star-rating(data.rating)
        .product-small__description-hover
          .product-small__buttons
            button.button-round.button-round--white-green
              svg.button-round__icon: use(href= path.icon + "icon__cart")
            button.button-round.button-round--white-green
              svg.button-round__icon: use(href= path.icon + "icon__eye")
            button.button-round.button-round--like
              svg.button-round__icon: use(href= path.icon + "icon__heart")

