@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox.scss";

.product-small {
  @include flex-center-vertical;

  display: flex;
  align-items: flex-start;
  max-width: 424px;
  min-height: 118px;
  border: var(--card-border);
  border-radius: 6px;

  @media (hover: hover) {
    &:hover {
      border: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      #{$block-name}__title {
        color: var(--primary);
      }

      #{$block-name}__description {
        gap: 6px;
      }

      #{$block-name}__description-hover {
        position: static;
        visibility: visible;
        opacity: 1;
        transition: opacity var(--transition);
      }

      #{$block-name}__description-main {
        position: absolute;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__image {
    @include box(112px);

    object-fit: contain;
  }

  &__description {
    @include flex-column;

    gap: 1px;
    padding: 24px 12px;
  }

  &__description-main {
    @include flex-column;

    gap: 5px;
    height: 40px;
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition);
  }

  &__title {
    @include body-small;

    color: var(--gray-700);
  }

  &__price {
    @include body-medium(500);

    color: var(--gray-900);
  }

  &__description-hover {
    position: absolute;
    height: 40px;
    visibility: hidden;
    opacity: 0;
  }

  &__buttons {
    @include flex-center-vertical;

    gap: 12px;
  }
  $block-name: &; // #{$block-name}__element
}
