//- Все примеси в этом файле должны начинаться c имени блока (product-xxl)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin product-xxl(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-xxl("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " product-xxl--" + modsList[i].trim();
      }
    }

  .product-xxl(class=allMods)&attributes(attributes)
    .product-xxl__image-container
      .product-xxl__tags
        .tag.tag--red Sale 50%
        .tag.tag--blue Best Sale
      img.product-xxl__image(src= path.img + "image.png", alt="product-xxl")
      .product-xxl__buttons
        button.button-round.button-round--like.product-xxl__button
          svg.button-round__icon: use(href= path.icon + "icon__heart")
        button.button-round.product-xxl__button.product-xxl__button--cart
          span Add to Cart
          svg.button-round__icon: use(href= path.icon + "icon__cart")
        button.button-round.product-xxl__button
          svg.button-round__icon: use(href= path.icon + "icon__eye")

    .product-xxl__description
      a(href="#")
        h3.product-xxl__title Chanise Cabbage

      .product-xxl__price
        span.product-xxl__price-new  $12.00
        span.product-xxl__price-old  $24.00
      .product-xxl__rating
        +star-rating(5)
        span.product-xxl__rating-amount  (524 Feedback)

      .product-xxl__counter.product-counter.js-counter(data-end="2024-02-17T03:24:00")
        .product-counter__title.product-xxl__counter-title Hurry up! Offer ends In:
        .product-counter__container
          .product-counter__item
            span.product-counter__value.js-counter-days 01
            span.product-counter__description Days
          .product-counter__item
            span.product-counter__value.js-counter-hours 23
            span.product-counter__description Hours
          span.product-counter__separator :
          .product-counter__item
            span.product-counter__value.js-counter-minutes 34
            span.product-counter__description Mins
          span.product-counter__separator :
          .product-counter__item
            span.product-counter__value.js-counter-seconds 57
            span.product-counter__description Secs
