@import "../../scss/_breakpoints";
@import "../../scss/mixins/text-styles.scss";

.button {
  $block-name: &; // #{$block-name}__element

  text-decoration: none;
  border: none;
  border-radius: 43px;
  cursor: pointer;
  transition: background-color var(--transition);

  &:disabled {
    color: var(--monochrome-300);
    background-color: var(--monochrome-50);
    pointer-events: none;
  }

  &--fill {
    color: var(--front-primary-inversed);
    background-color: var(--primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--hard-primary);
      }
    }
  }

  &--ghost {
    color: var(--primary);

    @media (hover: hover) {
      &:hover {
        color: var(--hard-primary);
      }
    }
  }

  &--white {
    color: var(--primary);
    background-color: var(--back-primary);

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }

  &--light {
    color: var(--primary);
    background-color: rgb(86 172 89 / 10%);

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }

  &--border {
    color: var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary);

    @media (hover: hover) {
      &:hover {
        color: var(--hard-primary);
        box-shadow: inset 0 0 0 1px var(--hard-primary);
      }
    }
  }

  &--grey {
    color: var(--primary);
    background-color: var(--green-gray-100);

    @media (hover: hover) {
      &:hover {
        color: var(--hard-primary);
        background-color: var(--green-gray-200);
      }
    }
  }

  &--monochrome-light {
    color: var(--monochrome-700);
    background-color: var(--monochrome-50);

    @media (hover: hover) {
      &:hover {
        background-color: var(--monochrome-200);
      }
    }
  }

  &--monochrome-dark {
    color: var(--front-primary-inversed);
    background-color: var(--monochrome-800);

    @media (hover: hover) {
      &:hover {
        background-color: var(--monochrome-600);
      }
    }
  }

  &--small {
    @include body-tiny(600);

    padding: 10px 24px;
  }

  &--normal {
    @include body-s(600);

    min-height: 45px;
    padding: 14px 32px;
  }

  &--large {
    @include body-m(600);

    padding: 15px 40px;
  }
}
