//- Все примеси в этом файле должны начинаться c имени блока (button)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin button(type= "button", text, mods, href)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +button("Текст", "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " button--" + modsList[i].trim();
      }
    }
  case type
    when 'button'
      button.button(class=allMods)&attributes(attributes)= text
        block
    when 'link'
      a.button(class=allMods, href=href)&attributes(attributes)= text
        block
