//- Все примеси в этом файле должны начинаться c имени блока (news)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin news(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " news--" + modsList[i].trim();
      }
    }

  .news(class=allMods)&attributes(attributes)
    .news__inner
      block
