@import "../../scss/_breakpoints";
@import "../../scss/mixins/text-styles.scss";

.banner-s {
  position: relative;
  padding: 40px 24px;
  overflow: hidden;
  color: var(--front-primary);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;

  @media (hover: hover) {
    &:hover {
      #{$block-name}__image {
        transform: scale(1.1);
      }

      #{$block-name}__button {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }

  &--right {
    #{$block-name}__content {
      margin-left: auto;
    }
  }

  &--white {
    color: var(--front-primary-inversed);
  }

  &--left {
    #{$block-name}__content {
      // todo  разная ширина текста по макету
      min-width: 183px;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    transition: transform 0.4s ease-in;
    inset: 0;
  }

  &__content {
    @include flex-column;

    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    width: 44%;
    min-height: 173px;

    @media screen and (max-width: $screen-t) {
      width: 50%;
      min-width: 183px;
    }
  }

  &__subtitle {
    padding-top: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
  }

  &__title {
    @include heading-5(600);
  }

  &__text {
    @include body-small;
  }

  &__price {
    @include body-xl(500);
  }

  &__text + &__button-container {
    padding-top: 6px;
  }

  &__button.button {
    @include flex-center-vertical;

    gap: 8px;
    padding: 11px 27px 11px 32px;
  }
  $block-name: &; // #{$block-name}__element
}
