design/
temp/
build/*
!build/readme.md

src/js/entry.js
src/json/
src/scss/style.scss
src/templates/mixins.pug

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.publish/
.idea/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
ex_files
Thumbs.db
.env
