design/
build/*
!build/readme.md

src/favicon/
src/templates/mixins.pug
src/js/head-script.js
src/js/entry.js
src/scss/style.scss
src/json

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db


.gitattributes
.editorconfig
.gitignore
config.js
gulpfile.js
new.js
.prettierrc.json
package.json
package-lock.json
readme.md
.prettierignore
LICENSE
.travis.yml

.eslintignore
.eslintrc
.stylelintignore
.stylelintrc

