{
  "customSyntax": "postcss-scss",
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "stylelint-selector-bem-pattern",
    "stylelint-config-rational-order/plugin"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "/^at-/",
        "/^mixin/",
        "/^include/",
        "/^if/",
        "/^else/",
        "/^function/",
        "/^return/",
        "/^each/",
        "/^while/",
        "use"
      ]
    }],
    "function-no-unknown": null,
    "import-notation": "string",
    "plugin/selector-bem-pattern": [
      {
        "implicitComponents": true,
        "componentName": "[-a-z]+",
        "componentSelectors": {
          "initial": "^(\\.{componentName}(__[a-z]+|--[-a-z0-9]+|__[-a-z]+--[-a-z0-9]+|.[-a-z]+|__[a-z]+.[-a-z]+)?)$",
          "combined": "^.+$"
        },
        "ignoreSelectors": [
          "^\\.(no-)?js(-modal-open)?$",
          "a(\\[[a-z]+|:[a-z]+)?",
          "h[1-6]",
          "pre",
          "blockquote",
          "thead",
          "tr",
          "img",
          "p",
          "table",
          "^&:empty",
          "#{\\$[-a-z]+}__[-a-z]+",
          "^\\*$"
        ]
      },
      {
        "severity": "warning",
        "message": "Селектор не из имени файла или БЭМ-ошибка"
      }
    ],
    "property-no-vendor-prefix": null,
    "order/order": [
      "custom-properties",
      {
        "type": "at-rule",
        "name": "include"
      },
      "declarations",
      {
        "type": "at-rule",
        "name": "media"
      },
      {
        "type": "rule",
        "selector": "^&:\\w+$"
      },
      {
        "type": "rule",
        "selector": "^&--[-a-z0-9]+"
      },
      {
        "type": "rule",
        "selector": "^\\.[-_a-zA-Z0-9]+"
      },
      {
        "type": "rule",
        "selector": "^&__[-a-z0-9]+"
      }
    ],
    "comment-word-disallowed-list": [ [/((Х|х)+уй|(Х|х)уе|(Х|х)уё|(Б|б)ляд|(М|м)уда|(П|п)идо|(П|п)еди|(П|п)еде|(^|\s)+(Б|б)ля)/], {
      "message": "Комментарий оскорбительный при себе оставь"
    }]
  }
}
