//- Все примеси в этом файле должны начинаться c имени блока (testimonial-card)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin testimonial-card(data, mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +testimonial-card("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " testimonial-card--" + modsList[i].trim();
      }
    }

  .testimonial-card(class=allMods)&attributes(attributes)
    svg.testimonial-card__icon: use(href= path.icon + "icon__quote")
    p.testimonial-card__body= data.text
    .testimonial-card__footer
      img.testimonial-card__avatar(src= path.img + data.avatar, alt="avatar")
      .testimonial-card__author
        span.testimonial-card__name= data.name
        span.testimonial-card__role= data.role
      +star-rating(data.rating)(class="testimonial-card__rating")
