@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/box.scss";

.accordeon {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  width: 100%;

  &__content {
    max-height: 0;
    padding: 0 16px;
    overflow: hidden;
    background-color: var(--back-primary);
    transition: max-height 0.3s ease-in;
  }

  &__item {
    list-style: none;
  }

  &__chevron-icon {
    @include box(12px);

    transform: rotate(270deg);
    transition: all var(--transition);
  }

  &__button {
    @include flex-center-sb;

    width: 100%;
    color: #333;
    border: none;
    border-bottom: 1px solid var(--gray-300);
    outline: none;
    cursor: pointer;
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &.is-open {
      #{$block-name}__chevron-icon {
        transform: rotate(360deg);
      }
    }
  }
}
