@import "../../scss/breakpoints";

.d-desktop {
  @media screen and (max-width: $df-screen-t) {
    display: none !important;
  }
}

.d-desktop-till-tablet {
  @media screen and (max-width: $df-screen-ti) {
    display: none !important;
  }
}

.d-mobile {
  display: none !important;

  @media screen and (max-width: $df-screen-t) {
    display: block !important;
  }
}
// stylelint-disable-next-line
.d-mobile--flex {
  display: none !important;

  @media screen and (max-width: $df-screen-t) {
    display: flex !important;
  }
}

.d-tablet {
  display: none !important;

  @media screen and (max-width: $df-screen-ti) {
    display: block !important;
  }
}
// stylelint-disable-next-line
.d-tablet--flex {
  display: none !important;

  @media screen and (max-width: $df-screen-ti) {
    display: flex !important;
  }
}
