@import "../../scss/breakpoints";

.tag-checkbox {
  $block-name: &; // #{$block-name}__element

  cursor: pointer;

  &__text {
    @include body-s;

    display: block;
    padding: 6px 16px;
    color: var(--monochrome-900);
    background-color: var(--monochrome-50);
    border-radius: 30px;
  }

  #{$block-name}__input {
    position: absolute;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked ~ #{$block-name}__text {
      color: var(--front-primary-inversed);
      background-color: var(--primary);
    }
  }
}
