//- Все примеси в этом файле должны начинаться c имени блока (filter-button)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin filter-button(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +filter-button("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " filter-button--" + modsList[i].trim();
      }
    }

  button.filter-button(class=allMods)&attributes(attributes)
    span.filter-button__text Filter
    svg.filter-button__icon: use(href= path.icon + "icon__filter")
