@import "../../scss/breakpoints";
@import "../../scss/mixins/button-reset.scss";

.filter-button {
  $block-name: &; // #{$block-name}__element

  @include button-reset;
  @include flex-center-vertical;

  gap: 12px;
  padding: 12px 32px 11px 30px;
  background-color: var(--primary);
  border-radius: 43px;
  transition: background-color var(--transition);

  @media (hover: hover) {
    &:hover {
      background-color: var(--hard-primary);
    }
  }

  &__text {
    @include body-small(600);

    color: var(--front-primary-inversed);
  }

  &__icon {
    @include box(22px);

    color: var(--front-primary-inversed);
  }
}
