@import "../../scss/mixins/box.scss";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/text-styles.scss";

.star-rating {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  &__star {
    @include box(16px);

    color: var(--monochrome-200);

    &--full {
      color: var(--orange-500);
    }
  }

  &__text {
    @include body-s;

    margin-left: 3px;
    line-height: 1.429;
  }
}
