mixin star-rating(rating)
  .star-rating
    - var fullStars = Math.floor(rating)
    - var halfStars = Math.round(rating - fullStars)
    - var emptyStars = 5 - fullStars - halfStars
    each starNumber in [1, 2, 3, 4, 5]
      if starNumber <= fullStars
        svg.star-rating__star.star-rating__star--full
          use(href=path.icon + 'icon__star')
      else if starNumber === fullStars + 1 && halfStars === 1
        svg.star-rating__star.star-rating__star--halfed
          use(href=path.icon + 'icon__star')
      else
        svg.star-rating__star
          use(href=path.icon + 'icon__star')
