@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";

.icon-button {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  // stylelint-disable-next-line
  &.button--small {
    gap: 8px;
  }
  // stylelint-disable-next-line
  &.button--normal {
    gap: 12px;
  }
  // stylelint-disable-next-line
  &.button--large {
    gap: 16px;
  }

  &__icon {
    @include box(24px);
  }
}
