@import "../../scss/breakpoints";

.cart-widget-item {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  gap: 8px;
  width: 100%;

  &__image {
    width: 100%;
    max-width: 120px;
    max-height: 100px;
    object-fit: contain;
  }

  &__description {
    flex-grow: 1;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    @include body-s;

    margin: 0;
    color: var(--front-primary);
  }

  &__amount {
    @include body-s;

    margin: 0;
    color: var(--monochrome-500);
  }

  &__separator {
    padding: 0 5px;
  }

  &__price-value {
    color: var(--monochrome-900);
    font-weight: 600;
  }

  &__close-button {
    cursor: pointer;
  }
}
