@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/blocks.scss";
@import "../../scss/mixins/hide-text.scss";

/* stylelint-disable */

.checkbox {
  $block-name: &; // #{$block-name}__element

  display: flex;
  gap: 20px;
  align-items: center;

  &--checkbox {
    input {
      @include hide-text;
    }

    label {
      @include flex-center;
      @include box(20px);

      border: 1px solid var(--gray-200);
      border-radius: 3px;
      cursor: pointer;
    }

    input:checked + label {
      position: relative;
      background-color: var(--primary);
    }

    input:not(:checked) + label {
      &:hover {
        border-color: var(--primary);
      }
    }

    svg {
      @include box(16px);
    }
  }

  &--radio {
    input {
      @include hide-text;
    }

    label {
      @include flex-center;
      @include box(20px);

      position: relative;
      border: 1px solid var(--gray-200);
      border-radius: 350%;
      cursor: pointer;
    }

    input:checked + label {
      position: relative;
      border-color: var(--primary);
      border-width: 2px;

      &::before {
        @include absolute-center;
        @include box(12px);

        background-color: var(--primary);
        border-radius: 50%;
        content: "";
      }
    }

    input:not(:checked) + label {
      &:hover {
        border-color: var(--primary);
      }
    }

    svg {
      @include box("16px");
    }
  }
}
