//- Все примеси в этом файле должны начинаться c имени блока (checkbox)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

//- mixin checkbox(type, checkboxName, text, id, value, mods)
mixin checkbox(label, name, id, mods)

  //- Принимает:
  //-   type    {string} - тип поля
  //-   checkboxName    {string} - имя поля
  //-   hint     {string} - плэйсхолдер
  //-   options     {string} - список опций select
  //-   mods     {string} - список модификаторов
  //- Вызов
        +checkbox("Текст лейбла", "some-name", "some-id", "some-mod")

  -
    //- список модификаторов
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " checkbox--" + modsList[i].trim();
      }
    }

  label.checkbox(class= allMods)&attributes(attributes)
    input.checkbox__input(id= id, type= "checkbox", name= name)
    span.checkbox__fake-input
      svg: use(href= path.icon + "icon__check")
    if label
      span.checkbox__label!= label
    block
