@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/box.scss";
@import "../../scss/mixins/hide-text.scss";

/* stylelint-disable */

.checkbox {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: flex;
  gap: 20px;
  justify-self: start;

  &__input {
    @include box(20px);

    position: absolute;
    opacity: 0;
  }

  &__fake-input {
    @include flex-center;
    @include box(20px);

    border: 1px solid var(--monochrome-200);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.125s ease;

    svg {
      @include box(16px);
    }
  }

  &__input:checked + &__fake-input {
    position: relative;
    background-color: var(--primary);
  }

  &__input:not(:checked) + &__fake-input {
    &:hover {
      border-color: var(--primary);
    }
  }

  &__input.just-validate-error-field + &__fake-input {
    border-color: var(--status-danger);
  }

  &__label {
    cursor: pointer;
    user-select: none;
  }

  .just-validate-error-label {
    @include body-small(500);

    color: var(--status-danger) !important;
  }
}
