@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles.scss";

.section {
  $block-name: &; // #{$block-name}__element

  margin-bottom: 100px;

  @media screen and (max-width: $screen-tl) {
    margin-bottom: 60px;
  }

  &--green {
    background-color: var(--green-gray-50);
  }

  &__title {
    @include heading-3(600);

    text-align: center;
  }

  &__title + &__content {
    margin-top: 18px;
  }
}
