//- Все примеси в этом файле должны начинаться c имени блока (comment-form)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin comment-form(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +comment-form("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " comment-form--" + modsList[i].trim();
      }
    }

  .comment-form(class=allMods)&attributes(attributes)
    h3.comment-form__title Leave a Comment
    form.comment-form__form.js-comment-form
      .comment-form__form-row.grid.grid__two-items
        .comment-form__input-container
          +field("Zakir Hossen", "Full Name",  "")(id="commentFullName", name="email", type="text", class="comment-form__input")
        .comment-form__input-container
          +field("Email", "Email", "")(id="commentEmail", name="email", type="text", class="comment-form__input")


      .comment-form__input-container.comment-form__input-name
        +textarea({labelText: "Message"})(id="commentMessage", type="comment", name="comment", placeholder="Write your comment here…")
      .comment-form__input-container
        +checkbox()(name="save-name", id="comment-save-name", class="comment-form__checkbox")
          span.comment-form__checkbox-text Save my name and email in this browser for the next time I comment.

      +button("button", "", "fill, large", "#")(class="comment-form__button", type="submit")
        span Post Comments
