@import "../../scss/breakpoints";

.catalog-page {
  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-columns: 312px 1fr;
  grid-template-areas: "filter sort" "filter result" "filter pagination";
  gap: 26px 24px;
  padding-top: 32px;

  &__filter {
    @include flex-column;

    grid-area: filter;
    gap: 24px;
    align-items: flex-start;
  }

  &__filter-accordion {
    @include flex-column;

    gap: 20px;
  }

  &__sorting {
    @include flex-center-sb;

    grid-area: sort;
  }

  &__items-found {
    @include flex-center-vertical;
    @include body-medium;

    gap: 2px;
  }

  &__items-found-value {
    font-weight: 600;
    color: var(--gray-900);
  }

  &__items-found-text {
    color: var(--gray-600);
  }

  &__result {
    grid-area: result;
  }

  &__pagination {
    grid-area: pagination;
  }
}
