@import "../../scss/breakpoints";

.cart-aside-widget {
  $block-name: &; // #{$block-name}__element
  position: fixed;
  background-color: var(--modal-bg);
  opacity: 0;
  pointer-events: none;
  inset: 0;

  &__content {
    position: fixed;
    width: 390px;
    right: 0;
    background-color: var(--modal-bg);
    opacity: 0;
    pointer-events: none;
  }

  &__header {
    @include flex-center-vertical;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 390px;
    padding: 10px 16px;
    background-color: var(--back-primary);
    border-bottom: 1px solid var(--gray-300);
  }

  &__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 390px;
    padding: 10px 16px;
    background-color: var(--back-primary);
    border-top: 1px solid var(--gray-300);
  }

  &.opened {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: var(--cart-widget-z-index);
    opacity: 1;
    transition: all var(--transition);
    pointer-events: auto;

    #{$block-name}__content {
      display: block;
      max-width: 390px;
      height: 100vh;
      opacity: 1;
      padding: 80px 16px;
      overflow-y: auto;
      background-color: var(--back-primary);
    }
  }
}
