@import "../../scss/breakpoints";

.hero {
  $block-name: &; // #{$block-name}__element

  position: relative;
  padding: 32px 0;

  .swiper-pagination-bullet {
    @include box(8px);

    width: 8px;
    height: 8px;
    background-color: var(--green-gray-200);
    border-radius: 50%;
    transition: width var(--transition);

    &-active {
      width: 16px;
      background-color: var(--primary);
      border-radius: 50px;
    }
  }

  &__slide {
    @include flex-center-vertical;

    gap: 19px;

    @media screen and (max-width: $screen-tl) {
      flex-direction: column;
    }
  }

  &__img-container {
    width: 58%;
    height: 564px;

    @media screen and (max-width: $screen-tl) {
      width: 100%;
      height: auto;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__description {
    width: 40%;

    @media screen and (max-width: $screen-tl) {
      width: 100%;
    }
  }

  &__note {
    color: var(--primary);
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-segoe);
    line-height: 100%;
    letter-spacing: 2%;
  }

  &__title {
    @include heading-1(600);

    color: var(--green-gray-900);
  }

  &__note + &__title {
    margin-top: 7px;
  }

  &__text {
    @include body-large;

    color: var(--gray-500);
  }

  &__title + &__text {
    margin-top: 20px;
  }

  &__text + &__button {
    margin-top: 32px;
  }

  &__navigation {
    @media screen and (max-width: $screen-dxl) {
      @include flex-center-vertical;

      position: absolute;
      right: 20px;
      bottom: 0;
      z-index: var(--hero-navigation-z-index);
      gap: 30px;
    }

    @media screen and (max-width: $screen-ti) {
      display: none;
    }
  }

  &__navigation-button {
    position: absolute;
    top: 50%;
    box-shadow: none !important;
    transform: translateY(-50%);

    @media screen and (max-width: $screen-dxl) {
      position: static;
      transform: none;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 8px 0 var(--gray-200) !important;
      }
    }

    &--prev {
      left: -110px;

      svg {
        transform: rotate(-180deg);
      }
    }

    &--next {
      right: -110px;
    }
  }

  &__advantages {
    // todo
    // width: 100%;
    // position: absolute;
    // bottom: -50px;
    // left: 50%;
    // transform: translateX(-50%);
  }
}
