@import "../../scss/breakpoints";

.post-page {
  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-areas: "article filter";
  grid-template-columns: calc(67% - 12px) calc(33% - 12px);
  gap: 26px 24px;
  padding: 32px 0 82px;

  @media screen and (max-width: $screen-d) {
    grid-template-columns: 1fr 2fr;
  }

  @media screen and (max-width: $screen-tl) {
    grid-template-areas: "filter" "article" "gallery" "recentPosts";
    grid-template-columns: 1fr;
    gap: 40px 20px;
  }

  &__filter {
    @include flex-column;

    grid-area: filter;
    gap: 20px;
    align-items: flex-start;
  }

  &__filter-accordion {
    @include flex-column;

    gap: 20px;
  }

  &__gallery {
    @include flex-column;

    grid-area: gallery;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: $screen-tl) {
      @include flex-column-center;
    }
  }

  &__gallery--desktop {
    @media screen and (max-width: $screen-tl) {
      display: none;
    }
  }

  &__gallery--mobile {
    display: none;

    @media screen and (max-width: $screen-tl) {
      display: block;
    }
  }

  &__gallery-title {
    @include body-xl(500);

    margin: 0;
  }

  &__gallery-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    @media screen and (max-width: $screen-d) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $screen-tl) {
      display: flex;
      flex-wrap: wrap;

      .instagram-card {
        width: 100%;
        min-width: 80px;
        max-width: 100px;
      }
    }
  }

  &__recent-posts {
    @include flex-column;

    gap: 16px;
    width: 100%;
  }

  &__recent-posts--desktop {
    @media screen and (max-width: $screen-tl) {
      display: none;
    }
  }

  &__recent-posts--mobile {
    display: none;

    @media screen and (max-width: $screen-tl) {
      display: flex !important;
      grid-area: recentPosts;
      gap: 10px;
    }
  }

  &__recent-posts-title {
    @include body-xl(500);

    margin: 0;
  }

  &__recent-posts-cards {
    @include flex-column;

    gap: 24px;

    @media screen and (max-width: $screen-tl) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @media screen and (max-width: $screen-ti) {
      grid-template-columns: 1fr;
    }
  }

  &__article {
    @include flex-column;

    grid-area: article;
    gap: 24px;
  }

  &__categories {
    @include flex-center-vertical;

    flex-wrap: wrap;
    gap: 16px;
  }

  &__category {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__category-icon {
    @include box(20px);

    color: var(--monochrome-300);
  }

  &__category-link {
    @include body-small;

    color: var(--monochrome-700);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__category-text {
    @include body-small;

    color: var(--monochrome-500);
  }

  &__info {
    @include flex-center-vertical;

    gap: 16px;
    justify-content: space-between;
  }

  &__author {
    @include flex-center-vertical;

    gap: 12px;
  }

  &__content {
    @include flex-column;

    gap: 16px;
  }

  &__comments {
    @include flex-column;
  }
}
