@import "../../scss/_breakpoints";
@import "../../scss/mixins/text-styles.scss";

.tag {
  $block-name: &; // #{$block-name}__element

  @include body-small;

  padding: 3px 10px 3px 8px;
  color: var(--color-white);
  border-radius: 4px;
  white-space: nowrap;

  &--red {
    background-color: var(--red);
  }

  &--blue {
    background-color: var(--blue-500);
  }

  &--orange {
    background-color: var(--orange);
  }

  &--black {
    background-color: var(--gray-900);
  }

  &--green {
    background-color: rgba(32, 181, 38, 0.2);
    color: var(--green);
  }
}
