@import "../../scss/_breakpoints";

.products-tabs {
  $block-name: &; // #{$block-name}__element

  padding: 100px 0;

  @media screen and (max-width: $screen-ti) {
    padding: 60px 0;
  }

  &__items {
    &--desktop {
      @media screen and (max-width: $screen-ti) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media screen and (max-width: $screen-ti) {
        display: block;
      }
      // todo
      // .swiper {
      //   max-width: calc(100vw - 40px);
      // }
    }
  }

  &__item {
    border: 1px solid var(--green-gray-100);
  }
}
