@import "../../scss/breakpoints";

.comment-item {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  gap: 13px;

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__author {
    display: grid;
    grid-template-areas: "avatar name" "avatar rating";
    grid-template-columns: 41px auto;
    gap: 1px 12px;
  }

  &__avatar {
    @include box(40px);

    grid-area: avatar;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    @include body-small(500);

    grid-area: name;
    margin: 0;
  }

  &__date {
    @include body-small;

    margin: 0;
    color: var(--monochrome-400);
  }

  &__main {
    @include body-small;

    margin: 0;
    color: var(--monochrome-500);
  }
}
