//- Все примеси в этом файле должны начинаться c имени блока (footer)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin footer(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer("Текст", "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " footer--" + modsList[i].trim();
      }
    }


  footer.footer(class=allMods)&attributes(attributes)
    .footer__wrapper
      .footer__content.container
        //- .footer__top
        .footer__about
          h3.footer__about-title About Shopery
          p.footer__about-text Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna congue nec.
          .footer__about-contact
            a.footer__about-link(href="tel:#") (219) 555-0114
            span.footer__about-separator or
            a.footer__about-link(href="mailto:#") Proxy@gmail.com

        .footer__navigation-wrapper
          .footer__navigation
            h3.footer__navigation-title My Account
            ul.footer__navigation-list
              li
                a.footer__navigation-link(href="#")  My Account
              li
                a.footer__navigation-link(href="#")  order History
              li
                a.footer__navigation-link(href="#")  Shoping Cart
              li
                a.footer__navigation-link(href="#")  Wishlist
              li
                a.footer__navigation-link(href="#")  Settings

          .footer__navigation
            h3.footer__navigation-title Helps
            ul.footer__navigation-list
              li
                a.footer__navigation-link(href="#")  Contact
              li
                a.footer__navigation-link(href="#")  Faqs
              li
                a.footer__navigation-link(href="#")  Terms & Condition
              li
                a.footer__navigation-link(href="#")  Privacy Policy

          .footer__navigation
            h3.footer__navigation-title Proxy
            ul.footer__navigation-list
              li
                a.footer__navigation-link(href="#")  About
              li
                a.footer__navigation-link(href="#")  Shop
              li
                a.footer__navigation-link(href="#")  Product
              li
                a.footer__navigation-link(href="#")  Products Details
              li
                a.footer__navigation-link(href="#")  Track Order

        .footer__instagram
          h3.footer__instagram-title Instagram
          .footer__instagram-cards
            each data in json.info.footer.instagram
              +instagram-card(data)

        .footer__bottom
          ul.footer__socials
            each data in json.info.footer.socialLinks
              a.button-round.button-round--ghost(href=data.link)
                svg.button-round__icon.footer__socials-icon: use(href= path.icon + data.img)

          p.footer__copyright-text Ecobazar eCommerce © 2021. All Rights Reserved
          ul.footer__payment
            each data in json.info.footer.paymentMethods
              li
                a.footer__payment-link(href=data.link)
                  svg.footer__payment-icon: use(href= path.icon + data.img)

