@import "../../scss/breakpoints";

.footer {
  $block-name: &; // #{$block-name}__element

  background-color: var(--green-gray-900);

  &__wrapper {
    background:
      url("../img/left.svg") no-repeat left bottom,
      url("../img/right.svg") no-repeat right bottom;

    @media screen and (max-width: $screen-tl) {
      background: none;
    }
  }

  &__content {
    display: grid;
    grid-template: repeat(2, auto) / minmax(1fr, 336px) repeat(2, 1fr);
    grid-template-areas:
      "about navigation instagram"
      "copyright copyright copyright";
    gap: 100px 78px;
    align-items: start;
    padding-top: 100px;

    @media screen and (max-width: $screen-d) {
      grid-template: repeat(2, auto) / repeat(2, 1fr);
      grid-template-areas:
        "about navigation"
        "instagram instagram"
        "copyright copyright";
    }

    @media screen and (max-width: $screen-tl) {
      grid-template: repeat(2, auto) / repeat(2, 1fr) !important;
      grid-template-areas:
        "about about"
        "navigation navigation"
        "instagram instagram"
        "copyright copyright" !important;
    }
  }

  &__top {
    padding: 66px 0;
  }

  &__about {
    grid-area: about;
  }

  &__about-title {
    @include body-xl(500);

    margin-bottom: 16px;
    color: var(--front-primary-inversed);
  }

  &__about-text {
    @include body-small;

    color: var(--green-gray-500);
  }

  #{$block-name}__about-text + #{$block-name}__about-contact {
    margin-top: 22px;
  }

  &__about-link {
    @include body-small(500);

    display: inline-block;
    padding-bottom: 6px;
    color: var(--front-primary-inversed);
    border-bottom: 1px solid var(--primary);
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }

  &__about-separator {
    @include body-small;

    padding: 0 16px;
    color: var(--green-gray-500);
  }

  &__navigation-wrapper {
    display: flex;
    grid-area: navigation;
    gap: 78px;

    @media screen and (max-width: $screen-t) {
      flex-direction: column;
    }
  }

  &__navigation-title {
    @include body-xl(500);

    margin-bottom: 20px;
    color: var(--front-primary-inversed);
  }

  &__navigation-list {
    @include flex-column;

    gap: 12px;
  }

  &__navigation-link {
    @include body-small;

    color: var(--green-gray-500);
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
      }
    }
  }

  &__instagram {
    grid-area: instagram;
  }

  &__instagram-title {
    @include body-xl(500);

    margin-bottom: 20px;
    color: var(--front-primary-inversed);
  }

  &__instagram-cards {
    @include flex-center-vertical;

    flex-wrap: wrap;
    gap: 12px;
  }

  &__bottom {
    @include flex-center-sb;

    grid-area: copyright;
    padding: 23px 0;
    border-top: 1px solid var(--green-gray-900);

    @media screen and (max-width: $screen-tl) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__socials {
    @include flex-center-vertical;

    gap: 8px;
  }

  &__socials-icon {
    @include box(18px);

    color: var(--green-gray-300);
  }

  &__socials-link {
    @include flex-center;
    @include box(40px);

    background-color: transparent;
    border-radius: 50%;
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary);

        #{$block-name}__socials-icon {
          color: var(--front-primary-inversed);
        }
      }
    }
  }

  &__copyright-text {
    @include body-small;

    margin-left: 86px;
    color: var(--green-gray-500);

    @media screen and (max-width: $screen-tl) {
      margin-left: 0;
    }
  }

  &__payment {
    @include flex-center-vertical;

    gap: 8px;
  }

  &__payment-link {
    display: block;
    width: 45px;
    height: 32px;
    border: 1px solid var(--green-gray-800);
    border-radius: 5px;
  }

  &__payment-icon {
    width: 45px;
    height: 32px;
  }
}
