@import "../../scss/breakpoints";

.footer {
  $block-name: &; // #{$block-name}__element

  height: 400px;
  background:
    url("../img/left.png") no-repeat left bottom,
    url("../img/right.png") no-repeat right bottom;
  background-color: var(--green-gray-scale-800);

  &__inner {
    padding: 8px 0;
  }
}
