@import "../../scss/mixins/text-styles";

.tabs {
  $block-name: &; // #{$block-name}__element

  &__labels {
    @include flex-center;

    position: relative;
    gap: 12px;
    overflow-y: auto;
    outline: none;

    &::after {
      position: absolute;
      bottom: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 1px;
      background: var(--brand-primary);
      content: "";
    }
  }

  &__label {
    @include body-medium(500);

    position: relative;
    flex-shrink: 0;
    padding: 0;
    padding: 8px 12px;
    color: var(--gray-500);
    border: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;

      &::after {
        position: absolute;
        top: 50%;
        right: -15px;
        width: 1px;
        height: 16px;
        background-color: var(--green-gray-200);
        transform: translateY(-50%);
        content: "";
      }
    }

    &--active {
      padding-bottom: 6px;
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
      cursor: default;

      // todo  ошибка макета?
      // &#{$block-name}__label:not(:last-child) {
      // &#{$block-name}__label:first-child {
      //   margin-right: 26px;

      //   &::after {
      //     right: -26px;
      //   }
      // }
    }

    &:first-child {
      @media screen and (max-width: $screen-tl) {
        margin-left: 20px;
      }
    }
  }

  &__panes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    background: var(--back-primary);
    border: 1px solid var(--brand-primary);
    border-top: 0;
  }

  &__labels + &__panes {
    margin-top: 47px;
  }

  &__pane {
    grid-area: tab;
    grid-column: 1/2;
    width: 100%;
    transform: translateY(16px);
    opacity: 0;
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
    pointer-events: none;

    &--active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }
}
