extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - hasCategoryButton = false
  - pageTitle = "About"
  - metaDescription = "About description"
  - metaKeywords = "About keywords"



block content
  +breadcrumps([], 'About')

  .about-page
    .about-page__section.container
      .about-page__text
        h3.about-page__title 100% Trusted Organic Food Store
        p.about-page__paragraph.about-page__paragraph--large Morbi porttitor ligula in nunc varius sagittis. Proin dui nisi, laoreet ut tempor ac, cursus vitae eros. Cras quis ultricies elit. Proin ac lectus arcu. Maecenas aliquet vel tellus at accumsan. Donec a eros non massa vulputate ornare. Vivamus ornare commodo ante, at commodo felis congue vitae.
      img.about-page__image(src=path.img + "about-image--1.jpg", alt="image")

    .about-page__section-bg
      .about-page__section-bg-container.container
        .about-page__text
          h3.about-page__title 100% Trusted <br/> Organic Food Store
          p.about-page__paragraph.about-page__paragraph--medium Pellentesque a ante vulputate leo porttitor luctus sed eget eros. Nulla et rhoncus neque. Duis non diam eget est luctus tincidunt a a mi. Nulla eu eros consequat tortor tincidunt feugiat.
          .about-page__advantages
            each adv in json.about.advantages
              .about-page__advantage
                .about-page__advantage-image
                  svg.about-page__advantage-image-icon: use(href= path.icon + adv.icon)
                .about-page__advantage-text
                  h4.about-page__advantage-title= adv.title
                  p.about-page__advantage-description= adv.description

    .about-page__section.about-page__section--small.container
      .about-page__text
        h3.about-page__title--small We Delivered, You </br>Enjoy Your Order.
        p.about-page__paragraph.about-page__paragraph--medium Ut suscipit egestas suscipit. Sed posuere pellentesque nunc, ultrices consectetur velit dapibus eu. Mauris sollicitudin dignissim diam, ac mattis eros accumsan rhoncus. Curabitur auctor bibendum nunc eget elementum.
        ul.about-page__list
          li.about-page__list-item Sed in metus pellentesque.
          li.about-page__list-item Fusce et ex commodo, aliquam nulla efficitur, tempus lorem.
          li.about-page__list-item Maecenas ut nunc fringilla erat vari us.
        +button("link", "", "fill, normal", "#")(class="about-page__button")
          span.icon-button__text Shop Now
          svg.icon-button__icon: use(href= path.icon + "icon__arrow")
      img.about-page__image(src=path.img + "about-image--3.jpg", alt="image")


    .section--small.about-page__testimonials
      h2.section__title.container Our Awesome Team
      p.section__subtitle.container Pellentesque a ante vulputate leo porttitor luctus sed eget eros. Nulla et rhoncus neque. Duis non diam eget est luctus tincidunt a a mi.
      .section__content--medium
        .grid.grid__three-items.d-desktop.container
          each review in json.info.reviews
            +review(review)
        .mobile-slider.d-mobile.container
          .swiper.mobile-slider__slider.js-mobile-slider
            .swiper-wrapper.mobile-slider__wrapper
              each review in json.info.reviews
                .swiper-slide.mobile-slider__slide
                  +review(review)
            .mobile-slider__pagination.swiper-pagination


    .section--small.about-page__testimonials
      h2.section__title.container Client Testimonail
      .section__content--medium
        .grid.grid__three-items.d-desktop.container
          each review in json.info.reviews
            +review(review)
        .mobile-slider.d-mobile.container
          .swiper.mobile-slider__slider.js-mobile-slider
            .swiper-wrapper.mobile-slider__wrapper
              each review in json.info.reviews
                .swiper-slide.mobile-slider__slide
                  +review(review)
            .mobile-slider__pagination.swiper-pagination

  +subscription("gray")
