extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isCatalogPage = true
  - pageTitle = "Catalog"
  - metaDescription = "Catalog description"
  - metaKeywords = "Catalog keywords"

block content
  h1.visually-hidden shopery catalog

  +breadcrumps([{path: '#', title: 'Categories'}], 'Vegetables')

  .catalog-page.container

    .catalog-page__filter.aside-filter

      .aside-filter__filter-button
        +filter-button(class="js-filter-button")
      .js-filter-menu.aside-filter__filter-menu-background
        .catalog-page__filter-accordion.filter-accordion.aside-filter__filter-menu
          .aside-filter__header.d-mobile--flex
            p.aside-filter__title Filter
            button.aside-filter__close-button.js-filter-close-button
              svg.aside-filter__close-icon: use(href= path.icon + "icon__close")

          .filter-accordion__item.aside-filter__item
            button.filter-accordion__button.is-open All categories
              svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
            .filter-accordion__content(style="max-height: auto")
              each category in json.catalog.filter.categories
                +radio(category.title, "filter-category", category.value, category.amount, "")(class="filter-accordion__content-item")

          .filter-accordion__item.aside-filter__item
            button.filter-accordion__button.is-open Price
              svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
            .filter-accordion__content
              +range-input(0, 1700)

          .filter-accordion__item.aside-filter__item
            button.filter-accordion__button.is-open Rating
              svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
            .filter-accordion__content
              .aside-filter__checkbox
                +checkbox("", "rating", "rating-5")
                  +star-rating(5, "5.0")
              .aside-filter__checkbox
                +checkbox("", "rating", "rating-4")
                  +star-rating(4, "4.0 & up")
              .aside-filter__checkbox
                +checkbox("", "rating", "rating-3")
                  +star-rating(3, "3.0 & up")
              .aside-filter__checkbox
                +checkbox("", "rating", "rating-2")
                  +star-rating(2, "2.0 & up")
              .aside-filter__checkbox
                +checkbox("", "rating", "rating-1")
                  +star-rating(1, "1.0 & up")

          .filter-accordion__item.aside-filter__item
            button.filter-accordion__button.is-open Popular Tag
              svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
            .filter-accordion__content.filter-accordion__content--no-border.aside-filter__tags-container
              each tag in json.catalog.filter.tags
                +tag-checkbox(tag.text, tag.value)

          .aside-filter__footer
            +button("button","Apply filter", "fill, large")(class="aside-filter__button js-apply-filter-button")

      .discount-banner.aside-filter__banner.aside-filter__banner--desktop
        img.discount-banner__img(src= path.img + "discount-banner--1.jpg", alt="discount banner")
        .discount-banner__text
          p.discount-banner__title
            span.discount-banner__title--bold 79%
            |  Discount
          p.discount-banner__subtitle on your first order
          +button("link", "", "ghost, normal", "#")(class="discount-banner__button icon-button")
            span.icon-button__text Shop Now
            svg.icon-button__icon: use(href= path.icon + "icon__arrow")

      .aside-filter__products.aside-filter__products--desktop
        p.aside-filter__title Sale Products
        .aside-filter__product-cards
          each product in json.catalogItems.featuredItems
            +product-xs(product)

    .catalog-page__sorting
      +select(json.catalog.sort.filter, "Sort by:")(class="js-catalog-filter")
      .catalog-page__items-found
        span.catalog-page__items-found-value 52
        span.catalog-page__items-found-text Results Found
    .catalog-page__result.catalog-page__result--desktop.grid.grid__three-items.d-desktop
      each product in json.catalogItems.items
        +product(product)(class="catalog-page__product")
    .catalog-page__result.catalog-page__result--mobile.grid.grid__three-items
      each product in json.catalogItems.items
        +product-small(product)(class="catalog-page__product")
    .discount-banner.catalog-page__banner.catalog-page__banner--mobile
      img.discount-banner__img(src= path.img + "discount-banner--1.jpg", alt="discount banner")
      .discount-banner__text
        p.discount-banner__title
          span.discount-banner__title--bold 79%
          |  Discount
        p.discount-banner__subtitle on your first order
        +button("link", "", "ghost, normal", "#")(class="discount-banner__button icon-button")
          span.icon-button__text Shop Now
          svg.icon-button__icon: use(href= path.icon + "icon__arrow")

    .catalog-page__sale-products.catalog-page__sale-products--mobile
        p.aside-filter__title Sale Products
        .aside-filter__product-cards.grid.grid__three-items
          each product in json.catalogItems.featuredItems
            +product-xs(product)
    .catalog-page__pagination.pagination.js-pagination
      button.pagination__page.pagination__page-prev(disabled)
        svg.pagination__icon: use(href= path.icon + "icon__chevron-down")
      .pagination__pages
        button.pagination__page.active 1
        button.pagination__page 2
        button.pagination__page 3
        button.pagination__page 4
        button.pagination__page 5
        span.pagination__dots ...
        button.pagination__page 21
      button.pagination__page.pagination__page-next
        svg.pagination__icon: use(href= path.icon + "icon__chevron-down")
