extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Catalog"
  - metaDescription = "Catalog description"
  - metaKeywords = "Catalog keywords"

block content
  h1.visually-hidden shopery catalog

  +breadcrumps([{path: '#', title: 'Categories'}], 'Vegetables')

  .catalog-page.container

    .catalog-page__filter.aside-filter
      +filter-button

      .catalog-page__filter-accordion.filter-accordion
        .filter-accordion__item
          button.filter-accordion__button.is-open All categories
            svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
          .filter-accordion__content
            each category in json.catalog.filter.categories
              +radio(category.title, "filter-category", category.value, category.amount, "")(class="filter-accordion__content-item")

        .filter-accordion__item
          button.filter-accordion__button.is-open Price
            svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
          .filter-accordion__content
            +range-input(0, 1700)

        .filter-accordion__item
          button.filter-accordion__button.is-open Rating
            svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
          .filter-accordion__content
            .aside-filter__checkbox
              +checkbox("", "rating", "rating-5")
                +star-rating(5)
                span 5.0
            .aside-filter__checkbox
              +checkbox("", "rating", "rating-4")
                +star-rating(4)
                span 4.0 & up
            .aside-filter__checkbox
              +checkbox("", "rating", "rating-3")
                +star-rating(3)
                span 3.0 & up
            .aside-filter__checkbox
              +checkbox("", "rating", "rating-2")
                +star-rating(2)
                span 2.0 & up
            .aside-filter__checkbox
              +checkbox("", "rating", "rating-1")
                +star-rating(1)
                span 3.0 & up

        .filter-accordion__item
          button.filter-accordion__button.is-open Popular Tag
            svg.filter-accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
          .filter-accordion__content.aside-filter__tags-container
            each tag in json.catalog.filter.tags
              +tag-checkbox(tag.text, tag.value)


    .catalog-page__sorting
      +select(json.catalog.sort.filter, "Sort by:")(class="js-catalog-filter")
      .catalog-page__items-found
        span.catalog-page__items-found-value 52
        span.catalog-page__items-found-text Results Found
    .catalog-page__result.grid.grid__three-items
      each product in json.catalog.items
        +product(product)
    .catalog-page__pagination.pagination.js-pagination
      button.pagination__page.pagination__page-prev(disabled)
        svg.pagination__icon: use(href= path.icon + "icon__chevron-down")
      .pagination__pages
        button.pagination__page 1
        button.pagination__page.active 2
        button.pagination__page 3
        button.pagination__page 4
        button.pagination__page 5
        button.pagination__page 21
      button.pagination__page.pagination__page-next
        svg.pagination__icon: use(href= path.icon + "icon__chevron-down")
