extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isCatalogPage = true
  - pageTitle = "Shopping cart"
  - metaDescription = "Shopping cart description"
  - metaKeywords = "Shopping cart keywords"

block content
  +breadcrumps([{path: '#', title: 'Shopping cart'}], 'Checkout')

  .checkout-page.container
    .checkout-page__main
      h2.checkout-page__title Billing Information
      form.checkout-page__form
        .checkout-page__form-main
          .checkout-page__form-row.grid.grid__three-items
            .checkout-page__input-container.checkout-page__input-name
              +field("text", "name", "Your first name", "First name", "")(class="checkout-page__input")
            .checkout-page__input-container.checkout-page__input-last-name
              +field("text", "last-name", "Your last name", "Last name", "")(class="checkout-page__input")
            .checkout-page__input-container.checkout-page__input-company-name
              +field("text", "company-name", "Company name", "Company Name (optional)", "")(class="checkout-page__input")

          .checkout-page__form-row
            .checkout-page__input-container.checkout-page__input-address-street
              +field("text", "address-street", "Street Address", "Street Address", "")(class="checkout-page__input")

          .checkout-page__form-row.grid.grid__three-items
            .checkout-page__input-container.checkout-page__input-address-country
              .checkout-page__input-label Country / Region
              +select(json.catalog.sort.filter, "", "address-country")(class="checkout-page__input")
            .checkout-page__input-container.checkout-page__input-address-states
              .checkout-page__input-label States
              +select(json.catalog.sort.filter, "", "address-states")(class="checkout-page__input")
            .checkout-page__input-container.checkout-page__input-address-zip
              +field("text", "address-zip-code", "Zip Code", "Zip Code", "")(class="checkout-page__input")

          .checkout-page__form-row.grid.grid__two-items
            .checkout-page__input-container.checkout-page__input-email
              +field("text", "email", "Email Address", "Email", "")(class="checkout-page__input")
            .checkout-page__input-container.checkout-page__input-phone
              +field("text", "phone", "Phone number", "Phone", "")(class="checkout-page__input")

          +checkbox("", "another-address", "another-address")(class="checkout-page__checkbox js-checkout-show-address")
            span.checkout-page__checkbox-text Ship to a different address

          .checkout-page__shipping-address
            .checkout-page__form-row
              .checkout-page__input-container.checkout-page__input-address-street
                +field("text", "shipping-address-street", "Street Address", "Street Address", "")(class="checkout-page__input")
            .checkout-page__form-row.grid.grid__three-items
              .checkout-page__input-container.checkout-page__input-address-country
                .checkout-page__input-label Country / Region
                +select(json.catalog.sort.filter, "", "shipping-address-country")
              .checkout-page__input-container.checkout-page__input-address-states
                .checkout-page__input-label States
                +select(json.catalog.sort.filter, "", "shipping-address-states")
              .checkout-page__input-container.checkout-page__input-address-zip
                +field("text", "shipping-address-zip-code", "Zip Code", "Zip Code", "")(class="checkout-page__input")
        .checkout-page__form-comment
          h3.checkout-page__title Additional Info
          .checkout-page__input-container.checkout-page__input-name
            textarea.checkout-page__textarea(type="comment", name="comment")

    +checkout-total(class="checkout-page__aside")

  +subscription(class="checkout-page__subscription")
