extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Shopery"
  - metaDescription = "Shopery description"
  - metaKeywords = "Shopery eywords"

block content
  .container
    h2 Buttons
    +button('button', 'normal', "fill, small")
    +button('button','normal', "fill, normal")
    +button('button','normal', "fill, large")
    +button('button','normal', "border, small")
    +button('button','normal', 'border, normal')
    +button('button','normal', "border, large")
    +button('button','normal', "grey, small")
    +button('button','normal', "grey, normal")
    +button('button','normal', "grey, large")

    h2 close button
    button.close-button
      svg.close-button__icon: use(href= path.icon + 'cross')

    h2 round buttons
    button.round-button.round-button--green
      svg.round-button__icon: use(href= path.icon + 'cart')
    button.round-button.round-button--like
      svg.round-button__icon: use(href= path.icon + 'heart')
    button.round-button.round-button--white-green
      svg.round-button__icon: use(href= path.icon + 'eye')
    button.round-button.round-button--transp
      svg.round-button__icon: use(href= path.icon + 'facebook')

    h2 checkbox
    +checkbox('checkbox', 'checkbox', '', 'checkbox')
    span
      +checkbox('radio', 'radio', '', '1','1')
      +checkbox('radio', 'radio', '', '2','2')

    h2 Inputs
    +field('text', 'text', 'text', '', '', true)
