extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - hasCategoryButton = false
  - pageTitle = "Post"
  - metaDescription = "Post description"
  - metaKeywords = "Post keywords"

block content
  h2.visually-hidden shopery catalog

  +breadcrumps([{path: '/blog', title: 'Blog'}], 'Single Blog')

  .post-page.container

    aside.post-page__filter.aside-filter

      .aside-filter__filter-button
        +filter-button(class="js-filter-button")


      .js-filter-menu.aside-filter__filter-menu-background.post-page__filters
        .post-page__filter-accordion.filter-accordion.aside-filter__filter-menu
          .aside-filter__header.d-mobile--flex
            h2.aside-filter__title Filter
            button.aside-filter__close-button.js-filter-close-button
              svg.aside-filter__close-icon: use(href= path.icon + "icon__close")
          .aside-filter__search.aside-filter__bb-container
            +search-form('small')(class="js-header-search-form")

          .filter-accordion__item.aside-filter__item
            h2.aside-filter__title Top Categories
            .aside-filter__categories-container.aside-filter__bb-container
              each category in json.catalog.filter.categories
                +radio( category.title, category.amount, "")(name="filter-category", value= category.value,  id=category.value)


          .filter-accordion__item.aside-filter__item
            h2.aside-filter__title Popular Tag
            .aside-filter__tags-container.aside-filter__tags-container--blog.aside-filter__bb-container
              each tag in json.catalog.filter.tags
                +tag-checkbox(tag.text, tag.value)

          .aside-filter__footer
            +button("button","Apply filter", "fill, large")(class="aside-filter__button js-apply-filter-button")




      .post-page__gallery.post-page__gallery--desktop
        h2.post-page__gallery-title Our Gallery
        .post-page__gallery-cards.aside-filter__bb-container
          each data in json.info.footer.instagram
            +instagram-card(data)

      .post-page__recent-posts.post-page__recent-posts--desktop
        h2.post-page__recent-posts-title Recently Added
        .post-page__recent-posts-cards
          each data in json.blog.recentPosts
            +recent-post(data)

    .post-page__result.post-page__result--desktop.grid.grid__two-items.d-desktop
      each preview in json.blog.posts
        +post-preview(preview)(class="post-page__preview")
    .post-page__result.post-page__result--mobile
      each preview in json.blog.posts
        +post-preview(preview)(class="post-page__preview")


    .post-page__gallery.post-page__gallery--mobile
      h2.post-page__gallery-title Our Gallery
      .post-page__gallery-cards
        each data in json.info.footer.instagram
          +instagram-card(data)

    .post-page__recent-posts.post-page__recent-posts--mobile
      h2.post-page__recent-posts-title Recently Added
      .post-page__recent-posts-cards
        each data in json.blog.recentPosts
          +recent-post(data)



  +subscription
