extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isCatalogPage = true
  - pageTitle = "Product"
  - metaDescription = "Product description"
  - metaKeywords = "Product keywords"

block content
  h2.visually-hidden shopery product

  +breadcrumps([{path: '#', title: 'Category'},{path: '#', title: 'Vegatables'}], 'Chinese Cabbage')

  .product-page

    +product-description(class="product-page__description-section container")


    .product-page__tabs
      .tabs.section__content
        .tabs__labels.product-page__tabs-labels
          .tabs__labels-content.container
            .tabs__scroll-container
              button.tabs__label.product-page__tabs-label.tabs__label--active(data-href="#tab1") Descriptions
              button.tabs__label.product-page__tabs-label(data-href="#tab2") Additional Information
              button.tabs__label.product-page__tabs-label(data-href="#tab3") Customer Feedback
        .tabs__panes.container
          .tabs__pane.product-page__tabs-content.tabs__pane--active#tab1
            .product-page__description
              p.product-page__paragraph Sed commodo aliquam dui ac porta. Fusce ipsum felis, imperdiet at posuere ac, viverra at mauris. Maecenas tincidunt ligula a sem vestibulum pharetra. Maecenas auctor tortor lacus, nec laoreet nisi porttitor vel. Etiam tincidunt metus vel dui interdum sollicitudin. Mauris sem ante, vestibulum nec orci vitae, aliquam mollis lacus. Sed et condimentum arcu, id molestie tellus. Nulla facilisi. Nam scelerisque vitae justo a convallis. Morbi urna ipsum, placerat quis commodo quis, egestas elementum leo. Donec convallis mollis enim. Aliquam id mi quam. Phasellus nec fringilla elit.

              p.product-page__paragraph Nulla mauris tellus, feugiat quis pharetra sed, gravida ac dui. Sed iaculis, metus faucibus elementum tincidunt, turpis mi viverra velit, pellentesque tristique neque mi eget nulla. Proin luctus elementum neque et pharetra.

              ul.product-page__list
               li.product-page__list-item 100 g of fresh leaves provides.
               li.product-page__list-item Aliquam ac est at augue volutpat elementum.
               li.product-page__list-item Quisque nec enim eget sapien molestie.
               li.product-page__list-item Proin convallis odio volutpat finibus posuere.

              p.product-page__paragraph Cras et diam maximus, accumsan sapien et, sollicitudin velit. Nulla blandit eros non turpis lobortis iaculis at ut massa.

            .product-page__right-aside
                //- .product-page__tabs-video
                //- img.product-page__tabs-video-video(src= path.img + "tab-video-preview.jpg", alt="video-preview")
                +video({preview: "tab-video-preview.jpg",video: "https://www.youtube.com/embed/2eX2TCfiFuY"}, "secondary-button")(class="product-page__video")

                .product-page__advantages
                  .product-page__advantage.advantage-label
                    svg.advantage-label__icon: use(href= path.icon + "icon__price-tag")
                    .advantage-label__text
                      h3.advantage-label__title 64% Discount
                      p.advantage-label__subtitle Save your 64% money with us

                  .product-page__advantage.advantage-label
                    svg.advantage-label__icon: use(href= path.icon + "icon__leaf")
                    .advantage-label__text
                      h3.advantage-label__title 100% Organic
                      p.advantage-label__subtitle 100% Organic Vegetables

          .tabs__pane.product-page__tabs-content#tab2

          .tabs__pane.product-page__tabs-content#tab3


    .product-page__related-products
      h2.product-page__related-products-title.container Related Products
      .section__content--large
        .grid.grid__four-items.d-desktop.container.g-24
          each product in json.product.relatedProducts
            +product-large(product)(class="product-page__related-product")
        .mobile-slider.d-mobile.container
          .swiper.mobile-slider__slider.js-mobile-slider
            .swiper-wrapper.mobile-slider__wrapper
              each product in json.product.relatedProducts
                .swiper-slide.mobile-slider__slide
                  +product(product)
            .mobile-slider__pagination.swiper-pagination


    +subscription(class="product-page__subscription")
