extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isCatalogPage = true
  - pageTitle = "Registration"
  - metaDescription = "Registration description"
  - metaKeywords = "Registration keywords"

block content
  +breadcrumps([{path: '#', title: 'Account'}], 'Registration')

  .registration.container
    form.registration__form
      h2.registration__title Registration
      .registration__input-container.registration__input-email
        +field("Email")(id="email", name="email", type="text", class="registration__input")
      .registration__input-container.registration__input-phone
        +field("Password", '', '', '', true)(id="password", name="password", class="registration__input")
      .registration__form-row
        +checkbox()(name="remember-me", id="remember-me", class="registration__checkbox")
          span.registration__checkbox-text Remember me
        a.registration__forgot-pass-link(href="/forgot-password") Forget Password
      +button("button", "", "fill, normal", "#")(class="registration__submit-button", type="submit")
        span Login
      .registration__registration
        span.registration__registration-text Don’t have account?
        a.registration__registration-link(href="/registration")  Register

  +subscription(class="registration__subscription")
