extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - hasCategoryButton = false
  - pageTitle = "Sign in"
  - metaDescription = "Sign in description"
  - metaKeywords = "Sign in keywords"

block content
  +breadcrumps([{path: '#', title: 'Account'}], 'Sign in')

  .sign-in.container
    form.sign-in__form.js-signin-form
      h2.sign-in__title Sign in
      .sign-in__input-container.sign-in__input-email
        +field("Email")(id="signin-email", name="email", type="text", class="sign-in__input")
      .sign-in__input-container.sign-in__input-phone
        +field("Password", '', '', '', true)(id="signin-password", name="password", class="sign-in__input")
      .sign-in__form-row
        +checkbox()(name="remember-me", id="remember-me", class="sign-in__checkbox")
          span.sign-in__checkbox-text Remember me
        a.sign-in__forgot-pass-link(href="/forgot-password") Forget Password
      +button("button", "", "fill, normal", "#")(class="sign-in__submit-button", type="submit")
        span Login
      .sign-in__registration
        span.sign-in__registration-text Don’t have account?
        a.sign-in__registration-link(href="/registration")  Register

  +subscription("gray")
