//- Все примеси в этом файле должны начинаться c имени блока (dropdown)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin dropdown(title, options, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +dropdown("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " dropdown--" + modsList[i].trim();
      }
    }

  .dropdown(class=allMods)&attributes(attributes)
    button.dropdown__button
      span= title
      svg.dropdown__chevron: use(href= path.icon + "icon__chevron-down")
    ul.dropdown__content
      each option in options
        li
          button.dropdown__link(data-value= option)= option
