@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox.scss";

.arrow-btn {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  gap: 8px;

  &__text {
  }

  &__icon {
    width: 15px;
    height: 12px;
  }
}
