//- Все примеси в этом файле должны начинаться c имени блока (logo)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin logo(mods, isSmall= false)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +logo("/link.html", "some-mod", false)

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " logo--" + modsList[i].trim();
      }
    }

  .logo(class=allMods)&attributes(attributes)
    case isSmall
      when true
        svg.logo__icon: use(href= path.icon + "logo__mini")
        h1.visually-hidden shopery
      default
        svg.logo__icon: use(href= path.icon + "logo__default")
        h1.visually-hidden shopery
