@import "../../scss/breakpoints";

.post-preview {
  $block-name: &; // #{$block-name}__element

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      #{$block-name}__title {
        color: var(--hard-primary);
      }
    }
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-height: 324px;
    object-fit: cover;
  }

  &__date {
    @include flex-column;

    position: absolute;
    bottom: 24px;
    left: 24px;
    align-items: center;
    padding: 6px 16px 10px;
    background: rgb(255 255 255 / 85%);
    border-radius: 4px;
  }

  &__date-day {
    @include body-xl(500);
  }

  &__date-month {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
  }

  &__description {
    @include flex-column;

    gap: 8px;
    padding: 24px 24px 22px;
    border: 1px solid var(--monochrome-100);
    border-radius: 0 0 8px 8px;
  }

  &__categories {
    @include flex-center-vertical;

    gap: 16px;
  }

  &__category {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__category-icon {
    @include box(20px);

    color: var(--monochrome-300);
  }

  &__category-link {
    @include body-small;

    color: var(--monochrome-700);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__category-text {
    @include body-small;

    color: var(--monochrome-500);
  }

  &__title {
    @include body-large(500);

    margin: 0;
  }

  &__more-link-icon {
    @include box(20px);
  }

  &__more-link {
    @include body-medium(600);
    @include flex-center-vertical;

    gap: 8px;
    color: var(--primary);

    &:hover {
      color: var(--hard-primary);
    }
  }

  &__title + &__more-link {
    margin-top: 10px;
  }
}
