@import "../../scss/breakpoints";

.subscription-form {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  position: relative;
  grid-area: form;
  height: 52px;

  @media screen and (max-width: $screen-t) {
    @include flex-column;

    position: static;
    gap: 20px;
    align-items: flex-start;
    height: auto;
  }

  &__input {
    @include body-medium;

    height: 52px;
    padding-right: 180px;
    padding-left: 24px;
    color: var(--green-gray-800);
    background-color: var(--back-primary);
    border: 1px solid var(--green-gray-100);
    border-radius: 46px;

    @media screen and (max-width: $screen-t) {
      padding-right: 16px;
      padding-left: 16px;
    }

    &::placeholder {
      color: var(--green-gray-500);
      opacity: 1;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 52px;
    border-radius: 43px;

    @media screen and (max-width: $screen-t) {
      position: static;
      width: 100%;
    }
  }
}
