@import "../../scss/breakpoints";
@import "../../scss/mixins/link-reset";

.recent-post {
  $block-name: &; // #{$block-name}__element

  @include link-reset;

  display: flex;
  gap: 12px;

  &__photo {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
    border-radius: 6px;
  }

  &__description {
    @include flex-column;

    gap: 8px;
  }

  &__title {
    @include body-m(500);

    margin: 0;
  }

  &__date {
    @include flex-center-vertical;

    gap: 6px;
  }

  &__date-icon {
    @include box(18px);

    color: var(--primary);
  }

  &__date-value {
    @include body-s;

    color: var(--monochrome-600);
  }
}
