@import ".././../scss/mixins/text-styles.scss";
@import ".././../scss/mixins/box.scss";

/* stylelint-disable */

.field {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: block;
  width: 100%;

  &__icon {
    @include box(20px);

    position: absolute;

    &--search {
      top: 12px;
      left: 15px;
    }

    &--warning,
    &--error,
    &--success {
      display: none;
      right: 15px;
      top: 15px;
    }
  }

  &__password-button {
    @include button-reset;
    @include box(20px);

    position: absolute;
    top: 5px;
    right: 15px;
    padding: 0;

    &:focus-visible {
      outline: none;
    }
  }

  &__input-container {
    position: relative;
  }

  &__input {
    @include search-field;

    width: 100%;

    transition: all var(--transition);

    &::placeholder {
      color: var(--monochrome-500);
    }

    &:focus {
      border-color: var(--primary);
    }

    &--text {
      padding: 14px 16px;
      border: 1px solid var(--monochrome-100);
      border-radius: 6px;
      outline: none;
    }

    &--password {
      padding: 14px 44px 16px 14px;
      border: 1px solid var(--monochrome-100);
      border-radius: 6px;
      outline: none;
    }

    &--search {
      position: relative;
      padding: 14px 16px 14px 44px;
      border: 1px solid var(--monochrome-100);
      border-radius: 6px;
      outline: none;

      &:focus {
        border-color: var(--primary);
      }
    }

    &:not(#{$block-name}__input--password).just-validate-error-field {
      border-color: var(--status-danger);

      & ~ #{$block-name}__icon--error {
        display: block;
      }
    }

    &:not(#{$block-name}__input--password).just-validate-success-field {
      border-color: var(--primary);

      & ~ #{$block-name}__icon--success {
        display: block;
      }
    }
  }

  .just-validate-error-label {
    @include body-small(500);

    color: var(--status-danger) !important;
  }
}
