//- Все примеси в этом файле должны начинаться c имени блока (team-card)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin team-card(data, mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +team-card("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " team-card--" + modsList[i].trim();
      }
    }

  .team-card(class=allMods)&attributes(attributes)
    .team-card__photo-container
      img.team-card__photo(src=path.img + data.photo, alt="photo")
      .team-card__contacts-container
        each social in data.socialLinks
          a.button-round.button-round--ghost(href= social.href)
            svg.button-round__icon.team-card__contacts-icon: use(href= path.icon + social.icon)
    .team-card__text-content
      p.team-card__name= data.name
      p.team-card__role= data.role
