@import "../../scss/_breakpoints";

.phone {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  gap: 8px;
  color: var(--gray-900);

  @media screen and (max-width: $screen-t) {
    display: none;

    &--mobile {
      display: flex;
      align-items: flex-end;
    }
  }

  &__icon {
    @include box(28px);

    @media screen and (max-width: $screen-tl) {
      @include box(26px);
    }
  }

  &__text {
    @include body-small(500);
  }
}
