//- Все примеси в этом файле должны начинаться c имени блока (instagram-card)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin instagram-card(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +instagram-card("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " instagram-card--" + modsList[i].trim();
      }
    }

  a.instagram-card(href= data.link, class=allMods)&attributes(attributes)
    .instagram-card__img
      img(src= path.img + data.preview, alt="alt")
      .instagram-card__overlay
        svg.instagram-card__icon: use(href= path.icon + "icon__instagram")
