@import "../../scss/breakpoints";
@import "../../scss/mixins/blocks.scss";
@import "../../scss/mixins/flexbox.scss";

.instagram-card {
  $block-name: &; // #{$block-name}__element
  @include box(69px);

  position: relative;
  overflow: hidden;
  border-radius: 4px;

  @media (hover: hover) {
    &:hover {
      #{$block-name}__overlay {
        opacity: 1;
      }
    }
  }

  &__overlay {
    @include flex-center;

    position: absolute;
    background: rgb(43 87 46 / 80%);
    opacity: 0;
    transition: var(--transition);
    inset: 0;
  }

  &__icon {
    @include box(32px);
  }
  $block-name: &; // #{$block-name}__element
}
