@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/text-styles.scss";

.best-deals {
  $block-name: &; // #{$block-name}__element

  padding: 100px 0;
  background:
    url("../../img/deals-bg-left.png") no-repeat 10% center,
    url("../../img/deals-bg-right.png") no-repeat 93% bottom;

  @media screen and (max-width: $screen-d) {
    background:
      url("../../img/deals-bg-left.png") no-repeat left center,
      url("../../img/deals-bg-right.png") no-repeat right bottom;
    background-size: 40%;
  }

  @media screen and (max-width: $screen-tl) {
    background: url("../../img/deals-bg-left.png") no-repeat left center;
  }

  @media screen and (max-width: $screen-t) {
    background: none;
  }

  &__container {
    @include flex-column-center;

    gap: 12px;
    width: calc(100% - 40px);
    max-width: 508px;
    margin: 0 auto;
  }

  &__subtitle {
    margin: 0;
    color: var(--primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    @include heading-3(600);

    margin: 0;
    text-align: center;

    @media screen and (max-width: $screen-tl) {
      @include heading-5(600);
    }
  }

  &__counter {
    @include flex-center;

    gap: 8px;
    width: 100%;
  }

  &__title + &__counter {
    margin-top: 12px;
  }

  &__counter-title + &__counter-container {
    margin-top: 6px;
  }

  &__counter-item {
    @include box(96px);
    @include flex-column;

    gap: 4px;
    align-items: center;
    min-width: 60px;
    padding: 20px 8px;
    background-color: var(--back-primary);
    border-radius: 6px;
  }

  &__counter-separator {
    @include body-xl;

    color: var(--green-gray-500);
  }

  &__counter-value {
    @include heading-5;

    color: var(--primary);
  }

  &__counter-description {
    color: var(--green-gray-500);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: uppercase;
  }

  &__button.icon-button {
    gap: 12px;
    padding: 14px 36px 13px 40px;
  }

  &__counter + &__button {
    margin-top: 20px;
  }
}
