@use "sass:color";

:root {
  --body-color: var(--font-primary);
  --body-bg: var(--white);
  --font-base: var(--font-sans);
  --font-sans: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, "Courier New", monospace;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;

  --green-gray-scale-900: #002603;
  --green-gray-scale-800: #173b1a;
  --green-gray-scale-700: #2b572e;
  --green-gray-scale-600: #406b42;
  --green-gray-scale-500: #618062;
  --green-gray-scale-400: #7a997c;
  --green-gray-scale-300: #96b297;
  --green-gray-scale-200: #b4ccb4;
  --green-gray-scale-100: #dae5da;
  --green-gray-scale-50: #edf2ee;

  --gray-scale-1000: #0a1931;
  --gray-scale-900: #1a1a1a;
  --gray-scale-800: #333;
  --gray-scale-700: #4d4d4d;
  --gray-scale-600: #666;
  --gray-scale-500: #808080;
  --gray-scale-400: #999;
  --gray-scale-300: #b3b3b3;
  --gray-scale-200: #ccc;
  --gray-scale-100: #e6e6e6;
  --gray-scale-50: #f2f2f2;

  --white: #fff;
  --soft-primary: #84d187;
  --primary: #00b207;
  --hard-primary: #2c742f;
  --warning: #ff8a00;
  --danger: #ea4b48;

  --font-primary: var(--gray-scale-900);
  --heading-color: var(--gray-scale-1000);

  --transition: all 0.3s ease-in;

  // z-indexes

  --header-dropdown-z-index: 3;
}
