//- Все примеси в этом файле должны начинаться c имени блока (select)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin select(options, placeholder, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +select("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " select--" + modsList[i].trim();
      }
    }

  .select(class=allMods)&attributes(attributes)
    if placeholder
      span.select__placeholder= placeholder
    select.select__field.js-nice-select
      each option in options
        option.select__option(value= option.value)= option.title
