//- Все примеси в этом файле должны начинаться c имени блока (select)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin select(options, label, name, placeholder, mods)

  //- Принимает:
  //-   options    {array} - options array
  //-   label    {string} - label
  //-   name    {string} - name
  //-   placeholder    {string} - placeholder
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +select("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " select--" + modsList[i].trim();
      }
    }

  .select(class=allMods)&attributes(attributes)
    if label
      span.select__placeholder= label
    select.select__field.js-nice-select
      if placeholder
        option.select__option.select__placeholder-value= placeholder
      each option in options
        option.select__option(value= option.value)= option.title
