@import "../../scss/_breakpoints";

.mobile-slider {
  .swiper {
    @media screen and (max-width: $screen-ti) {
      overflow: visible;
    }
  }

  .swiper-wrapper {
    padding-bottom: 20px;
  }

  .swiper-pagination {
    bottom: -15px;

    @media screen and (max-width: $screen-ti) {
      bottom: 0;
    }
  }

  .swiper-pagination-bullet {
    @include box(8px);

    width: 8px;
    height: 8px;
    background-color: var(--green-gray-200);
    border-radius: 50%;
    transition: all var(--transition);

    &-active {
      width: 16px;
      background-color: var(--primary);
      border-radius: 50px;
    }
  }

  &__slide {
    height: auto;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
  $block-name: &; // #{$block-name}__element
}
