@import "../../scss/_breakpoints";

.search-form {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  border-radius: 6px;

  &__field {
    width: 100%;
    height: 45px;
    border-radius: 6px 0 0 6px;

    @media screen and (max-width: $df-screen-ti) {
      padding: 8px;
    }
  }

  // stylelint-disable-next-line
  .field__icon--search {
    @media screen and (max-width: $df-screen-ti) {
      display: none;
    }
  }

  // stylelint-disable-next-line
  &__button.button--fill {
    height: 45px;
    padding: 14px 24px;
    border-radius: 0 6px 6px 0;
  }
  // stylelint-disable-next-line
  &--small {
    #{$block-name}__field {
      border-radius: 6px;
    }

    #{$block-name}__button {
      display: none;
    }
  }
}
