@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";
@import "../../scss/mixins/text-styles.scss";

.header {
  $block-name: &; // #{$block-name}__element

  &__top {
    @include body-tiny;

    padding: 11px 0 13px;
    color: var(--gray-300);
    background-color: var(--gray-800);
  }

  &__content {
    @include flex-center-sb;

    gap: 35px;

    @media screen and (max-width: $screen-d) {
      gap: 15px;
    }
  }

  &__top-location {
    @include flex-center-vertical;

    gap: 8px;

    @media screen and (max-width: $screen-tl) {
      display: none;

      &--mobile {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__top-location-icon {
    width: 15px;
    min-width: 15px;
    height: 18px;

    @media screen and (max-width: $screen-tl) {
      @include box(26px);
    }
  }

  &__actions {
    @include flex-center-vertical;

    gap: 19px;

    @media screen and (max-width: $screen-tl) {
      margin-left: auto;
    }
  }

  &__actions-separator {
    width: 1px;
    height: 15px;
    background-color: rgb(255 255 255 / 10%);
  }

  &__dropdowns {
    @include flex-center-vertical;

    gap: 17px;
  }

  &__auth {
    position: relative;
  }

  &__auth-link {
    color: inherit;

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }

  &__auth-separator {
    padding: 0 5px;
  }

  &__middle {
    @include flex-center-sb;

    gap: 20px;
    padding: 24px 0;

    @media screen and (max-width: $screen-tl) {
      justify-content: flex-start;
    }
  }

  &__mobile-burger {
    display: none;

    @media screen and (max-width: $screen-tl) {
      @include flex-center;
      @include box(38px);

      border: none;
      cursor: pointer;

      span {
        display: block;
        padding: 0;
        background-color: var(--gray-900);
        border: none;
      }
    }
  }

  &__logo {
    max-width: 183px;
  }

  &__search {
    width: 100%;
    max-width: 498px;
    margin-left: 9px;
  }

  &__navbar {
    @include flex-center-vertical;

    gap: 16px;

    @media screen and (max-width: $screen-tl) {
      gap: 8px;
      margin-left: auto;
    }
  }

  &__navbar-separator {
    display: block;
    width: 1px;
    height: 24px;
    background-color: var(--gray-200);
  }

  &__favorite-icon {
    @include box(33px);

    color: var(--gray-900);
    fill: transparent;
  }

  &__cart {
    @include flex-center-vertical;

    gap: 12px;
  }

  &__cart-link {
    position: relative;
  }

  &__cart-icon {
    @include box(34px);

    color: var(--gray-900);
  }

  &__cart-items-amount {
    @include flex-center;

    position: absolute;
    top: -2px;
    right: -1px;
    padding: 4px 6px;
    color: var(--front-primary-inversed);
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0%;
    background-color: var(--primary);
    border-radius: 50%;
  }

  &__cart-info {
    @include flex-column;

    gap: 7px;

    @media screen and (max-width: $screen-t) {
      display: none;
    }
  }

  &__cart-title {
    color: var(--gray-700);
    font-size: 11px;
    line-height: 1.1825;
    letter-spacing: 0%;
  }

  &__cart-amount {
    color: var(--gray-900);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }

  &__navigation {
    background-color: var(--gray-50);
  }

  &__navigation-left {
    @include flex-center-vertical;

    gap: 32px;

    @media screen and (max-width: $screen-d) {
      gap: 15px;
    }

    @media screen and (max-width: $screen-t) {
      width: 100%;
    }
  }

  &__all-categories {
    position: relative;

    @media screen and (max-width: $screen-t) {
      width: 100%;
    }
  }

  &__all-categories-chevron {
    @include box(18px);

    margin-left: 13px;
    transform: rotate(0deg);
    transition: all var(--transition);
  }

  &__all-categories-button {
    @include flex-center-vertical;
    @include body-small(500);

    gap: 10px;
    padding: 18px 24px 17px 26px;
    color: var(--front-primary-inversed);
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    transition: all var(--transition);

    @media screen and (max-width: $screen-t) {
      justify-content: space-between;
      width: 100%;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--hard-primary);
      }
    }

    &.open {
      #{$block-name}__all-categories-chevron {
        transform: rotate(180deg);
      }
    }
  }

  &__all-categories-dropdown {
    @include flex-column;

    position: absolute;
    top: 55px;
    left: 0;
    z-index: var(--header-dropdown-z-index);
    width: 100%;
    max-width: 300px;
    padding: 16px 0;
    background-color: var(--back-primary);
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 12%);
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition);

    @media screen and (max-width: $screen-t) {
      width: 100%;
      max-width: unset;
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__all-categories-link {
    @include flex-center-vertical;
    @include body-small;

    gap: 12px;
    padding: 6px 22px;
    color: var(--gray-500);
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }

  &__all-categories-icon {
    @include box(24px);
  }

  &__navigation-menu {
    @include flex-center-vertical;

    gap: 31px;

    @media screen and (max-width: $screen-tl) {
      display: none;
    }
  }

  &__navigation-menu-item {
    position: relative;

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
        transition: all var(--transition);
        #{$block-name}__navigation-drop-menu {
          top: 100%;
          visibility: visible;
          opacity: 1;
          transition: all var(--transition);
        }

        #{$block-name}__navigation-link-icon {
          transform: rotate(180deg);
          transition: all var(--transition);
        }
      }
    }
  }

  &__navigation-menu-link {
    @include flex-center-vertical;
    @include body-small(500);

    gap: 5px;
    padding: 18px 0 17px;
    color: var(--gray-500);
    text-transform: capitalize;

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &--active {
      color: var(--primary);
    }
  }

  &__navigation-link-icon {
    @include box(16px);

    transform: rotate(0);
  }

  &__navigation-drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--header-dropdown-z-index);
    min-width: 200px;
    padding: 10px 0;
    overflow: hidden;
    background-color: var(--back-primary);
    border-radius: 6px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 12%);
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition);

    &.open {
      opacity: 1;
    }
  }

  &__navigation-drop-menu-link {
    display: block;
    padding: 4px 6px;
    color: var(--gray-500);
    transition: all var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--primary);
        background-color: var(--primary-soft);
      }
    }
  }

  // phone
  &__phone {
    @include flex-center-vertical;

    gap: 8px;
    color: var(--gray-900);

    @media screen and (max-width: $screen-t) {
      display: none;

      &--mobile {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__phone-icon {
    @include box(28px);

    @media screen and (max-width: $screen-tl) {
      @include box(26px);
    }
  }

  &__phone-text {
    @include body-small(500);
  }
  $block-name: &; // #{$block-name}__element
}

.mobile-menu {
  display: none;

  @media screen and (max-width: $screen-tl) {
    position: fixed;
    z-index: var(--mobile-menu-z-index);
    display: block;
    background-color: var(--modal-bg);
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition);
    inset: 0;
  }

  &__content {
    @include flex-column;

    position: relative;
    gap: 20px;
    width: 320px;
    height: 100vh;
    padding: 80px 20px 30px;
    overflow-y: auto;
    background-color: var(--back-primary);
    transform: translateX(-320px);
    transition: all var(--transition);
  }

  &__close-button {
    @include box(38px);

    position: absolute;
    top: 20px;
    right: 20px;

    &__icon {
      @include box(28px);
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
    justify-content: flex-end;
  }
  $block-name: &; // #{$block-name}__element

  &.open {
    visibility: visible;
    opacity: 1;

    #{$block-name}__content {
      transform: translateX(0);
    }
  }
}
