@import "../../scss/breakpoints";

.header {
  $block-name: &; // #{$block-name}__element

  &__inner {
    padding: 8px 0;
  }

  &__top {
    background-color: var(--gray-scale--800);
    color: var(--gray-scale--300);
  }

  &__top-container {
  }

  &__top-location {
  }
}
