//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("Текст", "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header(class=allMods)&attributes(attributes)
    .container
      .header__inner
        svg.logo.header__logo
          use(href= path.icon + "logo__default")
        block
