//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("Текст", "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header(class=allMods)&attributes(attributes)
      .header__top
        .header__top-container.container
          .header__top-location
            svg.header__top-location-icon: use(href= path.icon + 'map-pin')
            span Store Location: Lincoln- 344, Illinois, Chicago, USA
          .header__top-menu
      .header__middle.container
        img.header__logo(src= path.img + "logo.png")
        .header__search
          +field('search', 'search', 'search', '', '', true)

