@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";

.product-large {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  background-color: var(--color-white);
  border: 1px solid transparent;
  transition: border var(--transition-long);

  @media (hover: hover) {
    &:hover {
      border: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      #{$block-name}__title {
        color: var(--primary);
      }

      #{$block-name}__buttons {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @media (hover: none) {
    #{$block-name}__title {
      color: var(--primary);
    }

    #{$block-name}__buttons {
      visibility: visible;
      opacity: 1;
    }
  }

  &__image-container {
    position: relative;
    display: block;
    width: 100%;
  }

  &__tags {
    @include flex-center-vertical;

    position: absolute;
    top: 20px;
    left: 19px;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__buttons {
    @include flex-column;

    position: absolute;
    top: 20px;
    right: 20px;
    gap: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-long);
  }

  &__image-button {
    @include box(48px);

    background-color: var(--color-white);
    border: 1px solid var(--monochrome-50);
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        border: none;
        box-shadow: 0 0 8px 0 var(--monochrome-200);
      }
    }
  }

  &__image {
    width: 100%;
    height: 310px;
    object-fit: contain;
    object-position: center;
  }

  &__description {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 18px 22px 19px 20px;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    @include body-medium;

    margin: 0;
    color: var(--monochrome-700);
    transition: color var(--transition-long);
  }

  &__price {
    @include flex-center-vertical;
    @include body-large(500);

    gap: 4px;
    margin: 0;
    color: var(--green-gray-900);

    &--old {
      color: var(--green-gray-400);
    }
  }

  &__rating svg {
    @include box(18px);

    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &__price + &__rating {
    margin-top: 11px;
  }

  &__button {
    @include box(50px);

    background-color: var(--green-gray-100);
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        color: var(--color-white);
        background-color: var(--primary);
        box-shadow: 0 0 8px 2px var(--monochrome-200);
      }
    }
  }

  &__button-icon {
    @include box(24px);
  }
}
