@import "../../scss/breakpoints";

.cart-widget {
  $block-name: &; // #{$block-name}__element

  @include flex-center-vertical;

  gap: 12px;

  @media screen and (max-width: $df-screen-m) {
    display: grid;
    grid-template-areas: "amount fav" "button button";
    grid-template-columns: 124px auto;
  }

  &__amount {
    @include flex-center-vertical;

    border-radius: 170px;

    @media screen and (max-width: $df-screen-m) {
      grid-area: amount;
    }
  }

  &__cart-button {
    @include flex-center;

    flex-grow: 1;
    gap: 16px;

    @media screen and (max-width: $df-screen-m) {
      grid-area: button;
    }
  }

  &__cart-button-text {
    @include body-m(600);
  }

  &__cart-button-icon {
    @include box(20px);
  }

  &__favorite-icon {
    @include box(20px);
  }

  &__favorite-button {
    @include box(52px);

    background-color: var(--green-gray-100);

    @media screen and (max-width: $df-screen-m) {
      grid-area: fav;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--front-primary-inversed);
        background-color: var(--primary);
      }
    }
  }
}
