@import "../../scss/_breakpoints";
@import "../../scss/mixins/flexbox.scss";

.product {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  border: var(--card-border);
  transition: border var(--transition-long);

  @media (hover: hover) {
    &:hover {
      border: var(--card-hover-border);
      box-shadow: var(--card-hover-shadow);

      #{$block-name}__title {
        color: var(--primary);
      }

      #{$block-name}__buttons {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @media (hover: none) {
    #{$block-name}__title {
      color: var(--primary);
    }

    #{$block-name}__buttons {
      visibility: visible;
      opacity: 1;
    }
  }

  &--large {
    #{$block-name}__image {
      height: 300px;
    }
  }

  &__image-container {
    position: relative;
    display: block;
    width: 100%;
  }

  &__tags {
    @include flex-center-vertical;

    position: absolute;
    top: 16px;
    left: 15px;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__buttons {
    @include flex-column;

    position: absolute;
    top: 16px;
    right: 16px;
    gap: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-long);
  }

  &__image-button {
    box-shadow: none;

    @media (hover: hover) {
      box-shadow: 0 0 8px 0 var(--monochrome-200);
    }
  }

  &__image {
    width: 100%;
    height: 240px;
    padding: 5px;
    object-fit: contain;
    object-position: center;
  }

  &__description {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 9px 11px;
  }

  &__title {
    @include body-small;

    margin: 0;
    color: var(--monochrome-700);
    transition: color var(--transition-long);
  }

  &__price {
    @include flex-center-vertical;
    @include body-medium(500);

    gap: 4px;
    margin: 0;
    color: var(--green-gray-900);

    &--old {
      color: var(--green-gray-400);
    }
  }

  &__link {
    text-decoration: none;
  }

  &__link + &__price {
    margin-top: 2px;
  }

  &__rating svg {
    @include box(12px);
  }

  &__price + &__rating {
    margin-top: 4px;
  }

  &__button {
    background-color: var(--monochrome-50);
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        color: var(--color-white);
        background-color: var(--primary);
        box-shadow: 0 0 8px 2px var(--monochrome-200);
      }
    }

    svg {
      transition: color var(--transition);
    }
  }
}
