//- Все примеси в этом файле должны начинаться c имени блока (product)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin product(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product("Текст", "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " product--" + modsList[i].trim();
      }
    }

  .product(class=allMods)&attributes(attributes)
    .product__image-container
      .product__buttons
        button.button-round.button-round--like.product__image-button
          svg.button-round__icon: use(href= path.icon + "heart")
        button.button-round.button-round--white-green.product__image-button
          svg.button-round__icon: use(href= path.icon + "eye")
      img.product__image(src= path.img + "product-image.png", alt="product")
    .product__description
      .product__description-text
        a(href="#")
          h3.product__title Green Apple
        span.product__price $14.99
        .product__rating
          +star-rating(4)
      button.button-round.product__button
        svg.button-round__icon: use(href= path.icon + "cart")
