@import "../../scss/breakpoints";

.product-preview {
  $block-name: &; // #{$block-name}__element

  // stylelint-disable-next-line
  .hystmodal__window {
    width: 100%;
    width: calc(100% - 40px);
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;

    @media screen and (max-width: $df-screen-m) {
      width: 100%;
      border-radius: 0;
    }
  }

  &__close-button {
    @include button-reset;

    position: absolute;
    top: -54px;
    right: 1px;
    padding: 10px;
    color: var(--back-primary);
    outline: none;

    @media screen and (max-width: $df-screen-ti) {
      top: -43px;
    }

    @media screen and (max-width: $df-screen-m) {
      top: 10px;
      z-index: 2;
      color: var(--monochrome-900);
    }
  }

  &__close-icon {
    @include box(25px);
  }

  &__content {
    display: flex;
    gap: 22px;
    padding: 40px;

    @media screen and (max-width: $df-screen-tl) {
      flex-direction: column;
      overflow-y: auto;
    }

    @media screen and (max-width: $df-screen-ti) {
      max-height: calc(100vh - 80px);
    }

    @media screen and (max-width: $df-screen-m) {
      height: 100vh;
      max-height: unset;
      padding: 16px;
    }
  }

  &__slider,
  &_-about {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__header {
    @include flex-column;

    gap: 11px;
    padding-bottom: 19px;
    border-bottom: 1px solid var(--monochrome-100);
  }

  &__title-wrapper {
    @include flex-center-vertical;

    gap: 8px;
  }

  &__title {
    @include heading-4(600);

    margin: 0;
  }

  &__review-wrapper {
    @include flex-center-vertical;

    gap: 14px;
  }

  &__review {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__rating {
    svg {
      @include box(18px);
    }
  }

  &__review-text {
    @include body-s;

    color: var(--monochrome-600);
  }

  &__separator {
    @include body-s(500);

    color: var(--monochrome-300);
  }

  &__sku {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__sku-text {
    @include body-s(500);

    color: var(--monochrome-800);
  }

  &__sku-value {
    @include body-s;

    color: var(--monochrome-600);
  }

  &__price-wrapper {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__review-wrapper + &__price-wrapper {
    margin-top: 10px;
  }

  &__price--old {
    color: var(--monochrome-300);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
  }

  &__price {
    @include body-xxl(500);

    color: var(--primary);
  }

  &__price-tags {
    @include flex-center-vertical;

    gap: 4px;
  }

  &__price + &__price-tags {
    margin-left: 12px;
  }

  &__info {
    display: grid;
    grid-template-areas: "brand share" "description description";
    grid-template-columns: 1fr 1fr;
    gap: 19px 40px;
    padding: 25px 0 23px;
    border-bottom: 1px solid var(--monochrome-100);

    @media screen and (max-width: $df-screen-m) {
      grid-template-areas: "brand" "share" "description";
      grid-template-columns: 1fr;
    }
  }

  &__brand {
    @include flex-center-vertical;

    grid-area: brand;
    gap: 8px;
  }

  &__brand-text {
    @include body-s;
  }

  &__brand-value {
    padding: 10px 8px;
    border: 0.8px solid var(--monochrome-100);
    border-radius: 4px;
  }

  &__share {
    @include flex-center-vertical;

    grid-area: share;
    gap: 9px;
  }

  &__share-text {
    @include body-s;
  }

  &__socials-container {
    @include flex-center-vertical;

    gap: 5px;
  }

  &__description {
    @include body-s;

    grid-area: description;
    margin: 0;
    color: var(--monochrome-500);
  }

  &__cart {
    padding: 18px 0;
    border-bottom: 1px solid var(--monochrome-100);
  }

  &__categories {
    @include flex-column;

    gap: 12px;
    padding-top: 23px;
  }

  &__category {
    @include flex-center-vertical;

    gap: 7px;
  }

  &__categories-text {
    @include body-s(500);
  }

  &__categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }

  &__categories-link {
    @include body-s;

    color: var(--monochrome-500);
    white-space: nowrap;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        color: var(--monochrome-900);
        text-decoration: underline;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 7px;
  }

  &__tags-text {
    @include body-s(500);
  }

  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }

  &__tags-link {
    @include body-s;

    color: var(--monochrome-500);
    white-space: nowrap;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        color: var(--monochrome-900);
        text-decoration: underline;
      }
    }
  }
}
