@import "../../scss/breakpoints";

.product-preview {
  $block-name: &; // #{$block-name}__element

  .hystmodal__window {
    width: 100%;
    max-width: 1320px;
  }

  &__content {
    @include flex-center-vertical;
    padding: 40px;
  }

  &__title-wrapper {
    @include flex-center-vertical;

    gap: 8px;
  }

  &__title {
    @include heading-4;
  }

  &__review-wrapper {
    @include flex-center-vertical;

    gap: 8px;
  }
}
